@import './reset.scss';
@import './mixin.scss';
@import './base.scss';
@import './demo.scss';
// @import '//at.alicdn.com/t/font_1679155_t0n02lcuuhl.css';
html{
    touch-action: none
}
.layoutContent{
    width: 1200px;
    margin: 0 auto;
}